*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --white: #FFFFFF;

  --gray-10: #e1e1e6;
  --gray-30: #a8a8b3;
  --gray-70: #323238;
  --gray-80: #29292e;
  --gray-85: #1f2729;
  --gray-90: #121214;

  --cyan-50: #61dafb;
  --yellow-50: #eba417;
}

body {
    background-color: var(--gray-90);
    color: var(--white);
}

body, input, textarea, select, button {
    font: 400 1rem "Roboto", sans-serif;
}

button{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}
@media (max-width: 720px){
    html{
        font-size: 87.5%;
    }
}